BEGIN;
--
-- Create model Room
--
CREATE TABLE "booking_room" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "description" text NOT NULL, "price" decimal NOT NULL, "created_at" datetime NOT NULL);
--
-- Create model Booking
--
CREATE TABLE "booking_booking" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_start" date NOT NULL, "date_end" date NOT NULL, "room_id" bigint NOT NULL REFERENCES "booking_room" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "booking_booking_room_id_8844468d" ON "booking_booking" ("room_id");
COMMIT;
